@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Structural --------------------------------------------*/

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

html {
  min-width: 320px !important;
}

body {
  font-family: 'Oi', cursive;
}

/* Navigation --------------------------------------------*/

.nav {
  text-align: center;
}

.nav-links {
  color: white;
}

.nav-h6 {
  margin: 0em;
  transition: background-color .2s ease-out;
}

.nav-h6:hover {
  background-color: #29b6f6;
}

.nav-h6:active {
  box-shadow: 0 1px #424242;
  transform: translateY(0px);
}

.home-stats-link {
  padding: .88em .92em !important;
}

.game-setup-link {
  padding: .9em !important;
}

.game-play-link {
  padding: .88em 1.375em !important;
}

.post-game-link {
  padding: .88em 1.285em !important;
}

/* Banner ------------------------------------------------*/

.banner {
  margin-top: .2em;
  margin-bottom: 0em;
  padding: 0em;
  height: 15em;
}

.banner-towers { 
  margin: 0em;
  padding: 0em;
  opacity: .75;
  height: 15em;
  position: relative;
}

.banner-text {
  text-align: center;
  margin: 0em !important;
  padding: .25em !important;
  text-align: left;
  margin: 0em;
  align-items: center;
  font-size: 2.5em;
}

.tower1 {
  margin-left: 0em !important;
}

.tower2 {
  margin-left: 0em !important;
}

/* Header ------------------------------------------------*/

.header {
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: 0em;
  margin-top: .2em;
}

.game-head {
  padding-left: .5em !important;
}

.header-text {
  text-align: center;
  color: white;
  margin-top: .3em;
  padding-right: 0em !important;
  padding-left: 0em !important;
  text-decoration: underline;
}

/* Footer ------------------------------------------------*/

.footer {
  padding-top: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: 0em;
  margin-top: .2em;
}

.footer-text {
  text-align: center;
  color: white;
  margin-top: .3em;
  padding-right: 0em !important;
  padding-left: 0em !important;
  text-decoration: underline;
}

/* Buttons -----------------------------------------------*/

.buttons {
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.buttons:hover {
  background-color: #29b6f6 !important;
}

.buttons:active {
  box-shadow: 0 5px #424242 !important;
  transform: translateY(4px);
}

.blue-buttons {
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.blue-buttons:active {
  box-shadow: 0 5px #424242 !important;
  transform: translateY(4px);
}

.blue-buttons:hover {
  background-color: #ab47bc !important;
}

/* Home-Stats --------------------------------------------*/

.tables {
  table-layout: fixed;
}

th {
  padding: .25em .25em;
  font-size: 1em; 
  text-align: center !important;
}

td {
  padding: .3em !important;
  text-align: center !important;
}

.leaderboard {
  font-size: 1em;
}

.head-txt {
  font-size: .7em;
}

.ranking {
  padding-left: .3em;
}

.player {
  padding-left: .5em !important;
}

.leader {
  padding-left: 0em !important;
}

.ready {
  text-align: center !important;
}

.play {
  font-size: 3em !important;
}

/* Game Setup --------------------------------------------*/

.gameSetup {
  margin: 0em 0em .2em 0em !important;
  padding: 0em .5em 0em .5em;
  text-align: left;
}

.players {
  border-style: solid;
  border-width: 3px;
  margin: 1em 0em 1em 0em;
  padding: 1em 2em 1em 2em;
  text-align: left;
  color: black !important;
}

input {
  font-family: 'Oi', cursive;
  font-size: 1.75em !important;
}

input.in {
  font-size: 2.5em !important;
}

.add-player-txt {
  margin: .4em 0em .5em 0em;
  text-align: center;
  text-decoration: underline;
}

.add-player-btn {
  background-color: #29b6f6;
  margin-left: 1.25em !important;
}

.validate {
  margin: 0em !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.choose {
  padding-left: 0em !important;
  margin: .5em 0em;
  text-align: center;
  text-decoration: underline;
}

.choose2 {
  padding-right: 0em !important;
  padding-left: 15em !important;
}

.choose3 {
  padding-left: 10em !important;
}

.column1 {
  margin-left: 0em !important;
  padding-left: 1em !important;
}

.checks {
  padding-bottom: 3em;
}

span {
  font-size: 1.1em !important;
}

.checks {
  font-size: .1em !important;
}

.prepare {
  text-align: center !important;
}

/* Gameplay ----------------------------------------------*/

.marquis-mt {
  margin: .25em .1em .2em .1em !important;
  
}

.names {
  padding: 0em !important;
  margin-top: 0em !important;
}

.names2 {
  padding: 1.5em 0em 1.5em 0em !important;
  margin: 0em !important;
}

.names3 {
  margin: 0em !important;
  font-size: 2.5em;
}

.vs {
  text-align: center !important;
}

.turn {
  margin-top: .25em;
  text-decoration: underline;
}

.from-on {
  padding: 0em !important;
  margin-top: 0em;
}

.row-label1 {
  padding-left: 0em;
}

.col-label1 {
  padding-left: 0em;
}

.row-label2 {
  padding-left: 0em;
}

.col-label2 {
  padding-left: 0em;
}

.rc {
  padding-left: .4em !important;
  padding-right: .4em !important;
}

.numbers {
  padding: .1em;
  margin: 0em;
}

.clocks {
  padding: .01em 1em .1em 1em !important;
  margin: .15em .1em !important;
}

.clock {
  padding: .2em !important;
  margin: 0em !important;
}

.time {
  padding: .1em !important;
  margin: 0em !important;
}

.game-pad {
  text-align: center !important;
}

/* Post Game ---------------------------------------------*/

.results {
  padding: 0em !important;
  margin: .1em 0em 0em .1em !important;
}

.results2 {
  padding: 0em !important;
  margin: 0em 0em 0em .1em !important;
}

table {
  margin-bottom: 0em !important;
}

.rematch {
  text-align: center !important;
}

.rematch-btn {
  text-align: center !important;
  padding: 0em .5em 0em .5em !important;
}

.indi-stats {
  padding: 0em;
  margin: .25em 0em .1em 0em;
  text-align: center;
  text-decoration: underline;
}

.post-text {
  font-size: 1.25em !important;
}

.post-stats {
  padding: .1em 0em .1em 0em !important;
  text-align: center;
}

/* Responsivity/Media Queries ----------------------------*/

@media only screen and (min-width: 321px) {
  
}

@media screen and (max-width: 510px) {
  .tower2 {
    display: none !important;
  }
}

@media screen and (min-width: 510px) {
  .banner-text {
    text-align: center;
    font-size: 6vw;
  }
}

@media screen and (min-width: 476px) {
  .home-stats-link {
    padding: 1.5em .92em !important;
  }
  
  .game-setup-link {
    padding: 1.5em .9em !important;
  }
  
  .game-play-link {
    padding: 1.5em 1.375em !important;
  }
  
  .post-game-link {
    padding: 1.5em 1.285em !important;
  }
}

@media screen and (max-width: 601px) {
  .jenga {
    width: 100% !important;
  }
}

@media screen and (min-width: 501px) {
  
  .header-text{
    text-align: left;
    padding-left: 1em !important;
    font-size: 2.2em;
  }

  .footer-text {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 551px) {

}

@media only screen and (min-width: 600px) {
  .row .col.sm3 {
    width: 25% !important;
    margin-left: auto !important;
    left: auto !important;
    right: auto !important;
  }
  
  .row .col.sm4 {
    width: 33.3333333333% !important;
    margin-left: auto !important;
    left: auto !important;
    right: auto !important;
  }

}

@media screen and (max-width: 601px) {
  .tower1 {
    max-width: 150.4px;
  }

  .tower2 {
    max-width: 150.4px;
    min-width: 150.4px;
  }
}

@media screen and (max-width: 1200px) {

  .htext-hide {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .header-text {
    padding-left: 0em !important;
  }
}

@media screen and (min-width: 1110px) {

  .banner-text {
    font-size: 4.5em;
  }
}

/* Quick Formatting --------------------------------------*/

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0 !important;
}

.pl-1 {
  padding-left: 1em !important;
}

.pl-2 {
  padding-left: 2em !important;
}

.pl-3 {
  padding-left: 3em !important;
}

.pl-4 {
  padding-left: 4em !important;
}

.pr-0 {
  padding-right: 0em !important;
}

.pr-1 {
  padding-right: 1em !important;
}

.pr-2 {
  padding-right: 1em !important;
}

.pr-3 {
  padding-right: 3em !important;
}

.pr-4 {
  padding-right: 4em !important;
}

.pr-5 {
  padding-right: 5em !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.mt-0 {
  margin-top: 0em !important;
}

.mt-quarter {
  margin-top: .25em !important;
}

.mt-half {
  margin-top: .5em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mb-0 {
  margin-bottom: 0em !important;
}

.mb-quarter {
  margin-bottom: .25em !important;
}

.mb-half {
  margin-bottom: .5em !important;
}

